.navbar {
  width: 100%; /* Cubre todo el ancho */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  border-bottom: 4px solid #e74c3c;
  padding: 1rem 0;
  position: fixed; /* Navbar fijo en la parte superior */
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar li {
  color: #f1c40f;
  text-decoration: none;
  display: flex;
  font-size: 1.4rem;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  transition: text-shadow 0.3s ease;
}

.navbar ul {
    display: contents;
}

.navbar li:hover {
  text-shadow: 0 0 10px #f1c40f;
}
